<!-- Learnt from: https://www.youtube.com/watch?v=3qmOFLBhfD8 -->

<div class="row columns">
  <!-- row columns predifined by foundation six flex grid -->
  <button (click)="login()" *ngIf="!name">Login With Facebook</button>
  <!-- event binding // if log in => do not show -->
  <input type="text" id="message" *ngIf="name" placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal"/>
  <!-- event binding // if hit enter, going to chatSend method (wtv they have typed in) -->
  <!-- ngModel to clear the text input after -->
  <div class="chat-container" *ngFor"let item of items | async">
    <a href="#">{{item.name}}</a>
    <p>{{item.message}}</p>
  </div>
</div>

